# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Erik\Documents\UPCHIAPAS\7mo cuatrimestre\Programación_concurrente\Corte1\A1.1_Proyecto de Frogger\ClientFrogger\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
